[user]
	name = Vinicius Souza
	email = vinicius.souza@luizalabs.com
[color]
    diff = auto
    status = auto
    ui = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added     = cyan bold
	branch    = cyan bold
	changed   = magenta bold
	deleted   = red bold
	untracked = yellow bold
[push]
	default = simple
[merge]
    log = true
    ff = false
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[alias]
	addremove = !git r && git add . --all
	all = add . --all
    st = status
    ga = git add -A
    gl = git log
	gs = git status
	gp = git push
	gpu = git pull
	brname = git branch
	brdel = git branch -D
	ci = commit
	co = checkout
	br = branch -av
